#header-wave {
    overflow: hidden;
    height: 200px;
    position: relative;
}

#header-wave::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 100%;
    width: 200%;
    height: 400px;
    background-color: rgb(79, 70, 229);
    top: -300px;
    left: -50%;
}

.header-title {
    position: relative;
    top: 30px;
}